---
import { Image } from "astro:assets";
import OptionalLink from "./optional-link.astro";

const { title, copy, image, href = "" } = Astro.props.item;

const images = import.meta.glob("../assets/*/*");
---

<OptionalLink href={href}>
  <figure class="mb-8">
    <Image
      src={images[image]()}
      widths={[480, 960]}
      sizes={`(max-width: 480px) 480px, 960px`}
      alt={title}
    />
    <figcaption>
      <div class="text-l font-medium my-2">{title}</div>
      <div class="text-l font-extralight">{copy}</div>
    </figcaption>
  </figure>
</OptionalLink>
