---
import heroImage from "../assets/rucksack.jpeg";

const metadata = {
  sitename: "Astro Minimal Starter",
  title: "Astro Metadata Title",
  description: "Astro Metadata Description",
  image: heroImage,
  robots: true,
};

interface Props {
  title?: string;
  description?: string;
  image?: string;
  robots?: boolean;
}

const {
  title,
  description,
  image,
  robots = true,
}: Props = Astro.props;

const url = Astro.url.toString();
---

<!-- SEO -->
{robots && <meta name="robots" content="noindex, nofollow" />}
<title>{title || metadata.title}</title>
<meta name="description" content={metadata.description} />
<link rel="canonical" href={url} />

<!-- Open Graph -->
<meta property="og:site_name" content={metadata.sitename} />
<meta property="og:title" content={title || metadata.title} />
<meta property="og:description" content={description || metadata.description} />
<meta property="og:url" content={url} />
<meta property="og:type" content="website">
<meta
property="og:image"
content={image ? `${image}?width=1200&height=630` : metadata.image.src}
/>

<!-- Twitter -->
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={image || metadata.image.src} />
<meta name="twitter:domain" content={import.meta.env.SITE} />

<!-- Confess Tech Stack ;) -->
<meta name="generator" content={Astro.generator} />
