---
const { frontmatter } = Astro.props;
import Layout from "./layout.astro";
import Navigation from "../components/navigation.astro";
import { Picture, Image } from "astro:assets";
const images = await Astro.glob("../assets/*");
const cover = images.find(
  (image) =>
    image.default.src &&
    image.default.src.includes(frontmatter.cover)
).default;
const heroImageBottom = images.find(
  (image) =>
    image.default.src &&
    image.default.src.includes(frontmatter.heroImageBottom.name)
).default;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  cover={cover}
  favicon_emoji={frontmatter.favicon_emoji}
>
  <Navigation />
  <div class="w-full max-w-screen-2xl px-2 sm:px-6 md:px-16 lg:px-32 pt-32">
    <slot />
  </div>
  <Picture
    src={heroImageBottom}
    alt={frontmatter.heroImageBottom.alt}
    widths={[400, 800, 1600]}
    class="w-full object-cover"
  />
</Layout>
